/*Index.html*/


/* Chargement */


/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #144ec2; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    width: 400px;
    padding-right: 0%;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
#hero {
    background-image: url('https://www.edf.fr/sites/groupe/files/styles/img_1024x576/public/contrib/groupe-edf/producteur-industriel/carte-des-implantations/centrale-paluel/paluel.jpg?itok=O_Bg7n2V');
    background-size: cover;
    background-position: center;
    color: #fe5816;
    text-align: center;
    padding: 175px 20px;
}

#hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
}

/* Sections */
section {
    padding: 40px 20px;
    margin: 20px 0;
    background-color: white;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.content {
    display: grid;
    place-items: center;
    height: auto;
  }

#rectangle {
    background-position: center;
    color: #fe5816;
    text-align: center;
}

/* Lien pour découvrir central */

.ici {
    background-position: center;
    color: #000000;
    text-align: center;
}


a {
    color: #FF6347; /
}


/* Footer */
footer {
    background-color: #144ec2;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

#footer .slogan {
    padding: 0 .625rem 2.5rem;
    color: #666;
    font-size: 1rem;
    font-family: "EDF-Light", sans-serif;
    font-style: italic;
    text-align: center;
}

/* Rectangle */

/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Conteneur principal */
  .con {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Titre en haut */
  .tit {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  /* Section des statistiques */
  .stat {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Chaque statistique */
  .sta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .numb {
    font-size: 2em;
    font-weight: bold;
    color: #144ec2;
  }
  
  .descri {
    font-size: 1em;
    color: #fe5816;
  }
  
  /* Unitep */

  #unitep {
    background-position: center;
    color: #fe5816;
    text-align: center;
}


/* CNPE Paluel */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .image-container {
    display: flex;              /* Utilisation de Flexbox */
    justify-content: center;    /* Centrage horizontal */
    align-items: center;        /* Centrage vertical */
  }

  img {
    max-width: 40%;             /* Réduit la largeur de l'image à 80% de son conteneur */         
    object-fit: contain;        /* Garantit que l'image conserve ses proportions */
  }
  
  section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
  }
  
  .intro {
    background-color: #ecf0f1;
    width: 500px;   /* Largeur du bloc */
    height: 300px;  /* Hauteur du bloc */
  }
  
  .details {
    background-color: #ffffff;
    width: 500px;   /* Largeur du bloc */
    height: 300px;  /* Hauteur du bloc */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }

  