/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #144ec2; /* Couleur bleue EDF */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo img {
    width: 150px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
#hero {
    background-image: url('https://www.edf.fr/sites/groupe/files/styles/img_1024x576/public/contrib/groupe-edf/producteur-industriel/carte-des-implantations/centrale-paluel/paluel.jpg?itok=O_Bg7n2V');
    background-size: cover;
    background-position: center;
    color: #fe5816;
    text-align: center;
    padding: 175px 20px;
}

#hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
}

/* Sections */
section {
    padding: 40px 20px;
    margin: 20px 0;
    background-color: white;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #003399;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

#footer .slogan {
    padding: 0 .625rem 2.5rem;
    color: #666;
    font-size: 1rem;
    font-family: "EDF-Light", sans-serif;
    font-style: italic;
    text-align: center;
}